{% extends "app/layout.html" %}
{% load i18n %}

{% block content %}
<h2>Messages Home</h2>
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
<ul style="list-style-type:none">
    {% load inbox %}
{% comment %}
    <li><a href="{% url 'messages_inbox' %} " class="btn btn-primary">{% trans "Inbox" %} ({% inbox_count %})</a></li>
    <br><li><a href="{% url 'messages_outbox' %} " class="btn btn-primary">{% trans "Sent Messages" %}</a></li>
    <br><li><a href="{% url 'messages_compose' %} " class="btn btn-primary">{% trans "New Message" %}</a></li>
    <br><li><a href="{% url 'messages_trash' %} " class="btn btn-primary">{% trans "Trash" %}</a></li>
</ul>
{% endcomment %}

<a href="{% url 'messages_inbox' %} " class="btn btn-primary">{% trans "Inbox" %} ({% inbox_count %})</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'messages_outbox' %} " class="btn btn-primary">{% trans "Sent Messages" %}</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'messages_compose' %} " class="btn btn-primary">{% trans "New Message" %}</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'messages_trash' %} " class="btn btn-primary">{% trans "Trash" %}</a>



{% endblock %}}