{% extends "app/layout.html" %}
{% load i18n %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
<ul class="subnavilist">
    {% load inbox %}
    <li><a href="{% url 'messages_inbox' %} ">&raquo;&nbsp;{% trans "Inbox" %} ({% inbox_count %})</a></li>
    <li><a href="{% url 'messages_outbox' %} ">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
    <li><a href="{% url 'messages_compose' %} ">&raquo;&nbsp;{% trans "New Message" %}</a></li>
    <li><a href="{% url 'messages_trash' %} ">&raquo;&nbsp;{% trans "Trash" %}</a></li>
</ul>

{% endblock %}}