{% extends "django_messages/base.html" %}
{% load i18n %}
{% load inbox %}
{% block content %}
<h1>{% trans "View Message" %}</h1>

<a href="{% url 'messages_inbox' %} " class="btn btn-primary">{% trans "Inbox" %} ({% inbox_count %})</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'messages_outbox' %} " class="btn btn-primary">{% trans "Sent Messages" %}</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'messages_compose' %} " class="btn btn-primary">{% trans "New Message" %}</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'messages_trash' %} " class="btn btn-primary">{% trans "Trash" %}</a>

<br><br>

<dl class="message-headers">
    <dt>{% trans "Subject:" %}</dt>
    <dd><strong>{{ message.subject }}</strong></dd><br>
    <dt>{% trans "Sender:" %}</dt>
    <dd>{{ message.sender }}</dd><br>
    <dt>{% trans "Date:" %} </dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd><br>
    <dt>{% trans "Recipient:" %}</dt>
    <dd>{{ message.recipient }}</dd>
</dl>
{{ message.body|linebreaksbr }}<br /><br />

{% if is_encrypted %}
<a href="{% url 'messages_decrypt' message.id %}" class="btn btn-default">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Decrypt" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<br><br>
{% endif %}


{% ifequal message.recipient.pk user.pk %}
<a href="{% url 'messages_reply' message.id %}" class="btn btn-primary">{% trans "Reply" %}</a>
{% endifequal %}
<a href="{% url 'messages_delete' message.id %}" class="btn btn-danger">{% trans "Delete" %}</a>


{% comment %}Example reply_form integration
{% if reply_form %}
<h1>{% trans "Compose reply"%}</h1>
<form action="{% url 'messages_reply' message.id %}" method="post">
{% csrf_token %}
<table>
{{ reply_form.as_table }}
</table>
<input type="submit" value="{% trans "Send" %} &raquo;"/>
</form>
{% endif %}
{% endcomment %}
{% endblock %}