{% extends "app/layout.html" %}

{% block content %}

    <h2>{{ title }}</h2>
    <h3>{{ message }}</h3>

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

    <form method="post" action="">
        {% for field in group_form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline">
                                <small>{{ field.help_text }}</small>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Create Group</button>
    </form>
    </body>
    </html>


{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}">

</script>

{% endblock %}
