{% extends "app/layout.html" %}

{% block content %}

    <h2>{{ title }}</h2>

    <table class="table table-striped">
        <tr>
            <th>Group Name</th>
            <th>Manage</th>
            <th>Leave Group</th>
        </tr>
        {% for g in groups %}
            <tr>
                <td>
                    {{ g.name }}
                </td>
                <td>
                    <form action="" method="POST">
                        <button class="btn btn-primary" name="manage" value="{{ g.name }}">
                            Manage Users
                        </button>
                    </form>
                </td>
                <td>
                    <form action="" method="POST">
                        <button class="btn btn-danger" name="leave" value="{{ g.name }}">
                            Leave
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        {% for g in other_groups %}
            <tr>
                <td>
                    {{ g.name }}
                </td>
                <td>
                    <form action="" method="POST">
                        <button class="btn btn-primary" name="manage" value="{{ g.name }}">
                            Manage Users
                        </button>
                    </form>
                </td>
                <td>
                    <form action="" method="POST">
                        <button class="btn btn-danger disabled" name="leave" value="{{ g.name }}">
                            Leave
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
<a href="create_group.html" class="btn btn-primary">Create a New Group</a>
{% endblock %}