{% extends "app/layout.html" %}

{% block content %}

    <h2>{{ title }}</h2>

    <table class="table table-striped">
        <tr>
            <th>Group Name</th>
            <th>Add User</th>
            <th>Leave Group</th>
        </tr>
        {% for g in groups %}
            <tr>
                <td>{{ g.name }}</td>
                <td>
                    <form action="" method="POST">
                        <button class="btn btn-primary " name="add" value="{{ g.name }}">
                            g.name
                        </button>
                    </form>
                </td>
                <td>
                    <form action="" method="POST">
                        <button class="btn btn-danger" name="leave" value="{{ g.name }}">
                            Leave
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}








{#{% extends "app/layout.html" %}#}
{##}
{#{% block content %}#}
{##}
{#<h2>{{ title }}</h2>#}
{#<div class="row">#}
{#    <div class="col-md-8">#}
{#        <ul class="list-group">#}
{#            {% for group in groups %}#}
{#            <li class="list-group-item"></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        <a href="create_group.html">Create new group.</a>#}
{#    </div>#}
{#</div>#}
{##}
{#{% endblock %}#}
{##}
{##}
{#{% block scripts %}#}
{##}
{#    {% load staticfiles %}#}
{#<script src="{% static 'app/scripts/jquery.validate.min.js' %}">#}
{#</script>#}
{##}
{#{% endblock %}#}