{% extends "app/layout.html" %}
{% csrf_token %}
{% block content %}

    <h2>{{ title }}</h2>

    <table class="table table-striped">
        <tr>
            <th>User Name</th>
            <th>Remove</th>
        </tr>
        {% for u in users %}
            <tr>
                <td>{{ u.username }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}








{#{% extends "app/layout.html" %}#}
{##}
{#{% block content %}#}
{##}
{#<h2>{{ title }}</h2>#}
{#<div class="row">#}
{#    <div class="col-md-8">#}
{#        <ul class="list-group">#}
{#            {% for group in groups %}#}
{#            <li class="list-group-item"></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        <a href="create_group.html">Create new group.</a>#}
{#    </div>#}
{#</div>#}
{##}
{#{% endblock %}#}
{##}
{##}
{#{% block scripts %}#}
{##}
{#    {% load staticfiles %}#}
{#<script src="{% static 'app/scripts/jquery.validate.min.js' %}">#}
{#</script>#}
{##}
{#{% endblock %}#}