{% extends "app/message.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Compose Message"%}</h1>
<form action="new_messages.html" method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
    <textarea name="message body" style="height: 200px; width: 500px;"></textarea><br>
        <div style="float: left"></div>
        <input type="button" value="Encrypt Message?" p/>
        <div style="float: right"></div>
        <input type="submit" value="{% trans 'Send' %} &raquo;"/>

</form>

{% endblock %}
