{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    University of Virginia <br />
    Charlottesville, VA 22904<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Jake Shevlin:</strong>   <a href="mailto:jas5mg@virginia.edu">jas5mg@virginia.edu</a><br />
    <strong>Julia Suozzi:</strong> <a href="mailto:jps4nf@virginia.edu">jps4nf@virginia.edu</a><br />
    <strong>Katie Verba:</strong> <a href="mailto:kmv3qt@virginia.edu">kmv3qt@virginia.edu</a><br />
    <strong>Alan Zhang:</strong> <a href="mailto:az6wf@virginia.edu">az6wf@virginia.edu</a>
</address>

{% endblock %}
