{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="createGroup">
            <form action="group.html" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <label for="name">Group Name</label><br>
                <input id="name" type="text" style="width: 500px"><br>
                <br>
                <label for="description">Group Description</label><br>
                <input id="description" type="text" style="height: 200px; width: 500px">

                <br><br>

                <label for="groupmembers">Choose group members.</label><br>
                <input id="groupmembers" type="checkbox">
                <ul class="list-users">
                    {% for user in users %}
                        <li>{{ user.first_name }}</li>
                    {% endfor %}
                </ul>
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}">

</script>

{% endblock %}
