<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Django Forms Tutorial</title>
</head>
<body>
<h2>Django Forms Tutorial</h2>
    <table>
        <tr>
            <td>Your First Name</td>
            <td><strong>{{ first_name }}</strong></td>
        </tr>
        <tr>
            <td>Your Last Name</td>
            <td><strong>{{ last_name }}</strong></td>
        </tr>
        <tr>
            <td>Your Username</td>
            <td><strong>{{ username }}</strong></td>
        </tr>
        <tr>
            <td>Your Password</td>
            <td><strong>{{ password }}</strong></td>
        </tr>
        <tr>
            <td>Your User Type</td>
            <td><strong>{{ user_type }}</strong></td>
        </tr>
    </table>
</body>
