{% extends "app/layout.html" %}

{% block content %}

    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    <p>Use this area to provide additional information.</p>
    <table class="table table-striped">
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Type</th>
            <th>Status</th>
            <th>Promote</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.profile.user_type }}</td>

                {% if user.is_active%}
                    <td>
                    <button class="btn btn-danger">Suspend</button>
                    </td>
                {% else %}
                    <td>
                        <button class="btn btn-success">Restore</button>
                    </td>
                {% endif %}

                {% if user.profile.user_type == "site_manager" %}
                    <td>
                        <button class="btn btn-primary disabled">Promote to Site Manager</button>
                    </td>
                {% else %}
                    <td>
                        <button class="btn btn-primary">Promote to Site Manager</button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
